mat-toolbar {
    font-family: 'Forum', cursive;
    color: #303030 !important;
  }

  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .page-title {
    font-family: 'OfTheBlueColourOfHerEyes', 'Forum';
    font-size: 36px;
  }