<mat-card>
  <input matInput id="artist" [(ngModel)]="artist">
  <button mat-icon-button class="home-search-icon" (click)="onSubmit()">
    <mat-icon>search</mat-icon>
  </button>
</mat-card>

<div *ngIf="resultsExist">
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let result of resultsArray"> 

      </mat-list-item>
    </mat-list>
    <div class="top-result">
      <img src="{{topResultImage.url}}" height="auto" width="80%">
      <div class="top-result-title">
        {{topResult.name}}
      </div>
    </div>
  </mat-card>
</div>
