<mat-card>
  <form class="home-form" [formGroup]="homeFormGroup" (ngSubmit)="ngOnSubmit()">

        <mat-form-field class="home-form-input">
            <input matInput placeholder="Artist Name" value="Your favorite artist" name="artist" formControlName="artist">
            <button mat-icon-button class="home-search-icon">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

  </form>
</mat-card>

<span class="done">
  <button mat-fab>
    <mat-icon>check circle</mat-icon>
  </button>
</span>