<mat-card>
  <input matInput id="artist" [(ngModel)]="artist">
  <button mat-icon-button class="home-search-icon" (click)="onSubmit()">
    <mat-icon>search</mat-icon>
  </button>
</mat-card>

<div *ngIf="resultsExist">
  <mat-card>
    <div class="top-result">
      <img src="{{topResultImage.url}}" height="auto" width="500">
      <div class="top-result-title">
        {{topResult.name}}
      </div>
    </div>
  </mat-card>
</div>


<span class="done">
  <button mat-fab>
    <mat-icon>check circle</mat-icon>
  </button>
</span>